@import "tailwindcss";

@theme {
  --color-violet-light: #543fb6ff;
  --color-violet-dark: #49379fff;
  --color-primary-light: #50a2a7;
  --color-primary-dark: #418285;
  --color-pust-yellow: #edca3c;
  --color-pust-grey: #7d7c7c;
}
