---
import { getCollection } from "astro:content";
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";

const days = await getCollection("den");
---

<Layout title="Autoři - Adventní cesta">
  <ArticleHeader />
  <section class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Autoři zamyšlení</h1>
    <ul>
      {
        days.map((post) => {
          return (
            <li class="mb-4" id={post.data.date}>
              <strong>{post.data.author}</strong>
              <br />
              {post.data.authorDetails}
            </li>
          );
        })
      }
    </ul>
    <h2 class="text-2xl font-bold mt-8 mb-2">Na přípravě se dále podíleli</h2>
    <p class="mb-8">Prokop Brož, Petr Polehla, Anna Hrčková a Jiří Bittner</p>
    <h2 class="text-2xl font-bold mt-8 mb-2">Webová aplikace a audio</h2>
    <p class="mb-8">
      <a href="https://petrkucerak.cz/" target="_blank" rel="external"
        >Petr Kučera</a>
    </p>
  </section>
</Layout>
