---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova biskupa Jana - Adventní cesta">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Jana</h1>
    <p class="font-semibold text-lg mb-1">
      Bratři a sestry v Kristu, milí čtenáři,
    </p>
    <p class="text-lg mb-4">
      od Kristova příchodu očekáváme pravé a skutečné uzdravení. Obnovení našeho
      vztahu k Bohu Stvořiteli i k bližním, návrat do Jeho otcovské náruče,
      naději na věčný život v Jeho lásce, neporušený hříchem, nemocí i smrtí.
    </p>
    <p class="text-lg mb-4">
      Ježíš přichází do světa jako člověk a ukazuje nám, že naše křehkost a
      slabost nemusí být na překážku toho, abychom Ho následovali. Naopak.
      Teprve pokud uvěříme, že právě On je na neduhy našeho lidství spolehlivým
      lékem, budeme za Ním moci vykročit po bezpečné cestě tam, kde už nebude
      smrt, bolest ani nářek.
    </p>
    <p class="text-lg mb-4">
      Texty do letošní adventní brožury napsali věřící lékaři, tedy muži a ženy,
      kteří ve své profesi denně usilují o překonávání přirozených slabostí
      lidského těla i duše, zároveň nacházejí životní rovnováhu právě v Kristu.
      Jejich přístup nám může být inspirací pro svoji ucelenost. Nehledají v
      časném světě elixír života, zdraví a mládí, ale kromě vynikající znalosti
      jeho zákonitostí dokážou spatřovat harmonii v Božím stvoření a v Jeho
      příslibu věčného života trvajícího i poté, co se naše pozemské tělo obrátí
      v prach.
    </p>
    <p class="text-lg mb-4">
      Dítě, které se rodí v Betlémě, stojí na počátku tohoto velikého příslibu.
      Využijme letošní adventní dobu k tomu, abychom zdokonalili svoji víru v
      Jeho moc uzdravit všechny naše nedostatky, zahojit každou ránu, narovnat
      křivé cesty a na konci nás dovést k našemu společnému Otci, jedinému cíli
      našeho života.
    </p>
    <p class="text-lg mb-4">
      Kéž Vám v tom pomohou i zamyšlení na následujících stránkách.
    </p>
    <p class="text-lg mb-4">
      K tomu Vám na počátku adventní doby ze srdce žehnám od královéhradecké
      katedrály Svatého Ducha!
    </p>
    <p class="text-xl mb-8 italic">Váš biskup + Jan</p>
  </article>
</Layout>
