---
import ArticleCover from "../components/ArticleCover.astro";
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova biskupa Prokopa - Cesta půstem">
  <ArticleCover
    imgPath="/covers/webp/prokop.webp"
    imgAlt="Biskup Prokop v motivech postní cesty"
  />
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Prokopa</h1>
    <p class="font-semibold text-lg mb-1">Vážení přátelé, bratři a sestry,</p>
    <p class="text-lg mb-4">
      minulý rok nás o Velikonocích do Otcova domu předešel papež František den
      poté, co lidem shromážděným na Svatopetrském náměstí u příležitosti Urbi
      et Orbi osobně požehnal. Předtím nechal přečíst text o radosti a naději,
      jež přicházejí od vzkříšeného Krista. Papež Lev XIV. ve mši svaté po svém
      zvolení směřoval svoji pozornost na Ježíše Krista. Sám Ježíš položil
      apoštolům otázku: „Za koho pokládají lidé syna člověka?“ A papež zkoumal,
      jak na tuto otázku odpovídali učedníci, apoštol Petr, a jak na ni
      odpovídají lidé dneška.
    </p>
    <p class="text-lg mb-4">
      Máme dosud živě v paměti slova, výroky a gesta papeže Františka a současně
      si zvykáme na hlas a postoje papeže Lva. Zcela přirozeně se nabízí,
      abychom během letošního postního putování k Velikonocům naslouchali oběma
      nástupců svatého Petra. Chceme v jejich textech sledovat především radost
      a naději, o které nám oba papežové neúnavně svědčí. Přitom se neuzavírají
      do svých neochvějných jistot, ale stále se vracejí ke Kristu, v jeho Duchu
      každou nejistotu, skepsi, troufalost a lidskou sebespokojenost odhalují a
      léčí. V procesu konverze nakonec objevují lidskou existenci vždy nově.
      Tyto složité děje se odehrávají v prostředí církve, jež je coby Kristovo
      dílo nerozlučně spojena s dramatem obrácení, nápravy a objevování nových
      začátků.
    </p>
    <p class="text-lg mb-4">
      Otevřeme tedy svá srdce Duchu svatému a naslouchejme hlasu papežů –
      podobně, jako Matka Boží Panna Maria byla otevřena Duchu a Slovu –,
      abychom se během postní doby připravili na velikonoční radost. Ať se pak o
      Velikonocích znovu naladíme na Radost evangelia, sílu společně sdílené
      víry v našich slovech i činech.
    </p>
    <p class="text-lg mb-8 italic">Prokop Brož</p>
  </article>
</Layout>
