---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova biskupa Jana - Cesta půstem">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Jana</h1>
    <p class="font-semibold text-lg mb-1 font-serif tracking-wider leading-9">
      Bratři a sestry v Kristu, milí čtenáři,
    </p>
    <p class="text-lg mb-4 font-serif tracking-wider leading-9">
      loni na vrcholu Velikonoc, den po slavnosti Zmrtvýchvstání Páně, nás
      opustil náš milovaný papež František. Po necelých třech týdnech Církev
      dostala nového Svatého otce, Lva XIV. František svého budoucího nástupce
      před svou smrtí pověřil vedením velmi významného Dikasteria pro biskupy, v
      jejich následném střídání na papežském stolci se nám ukázalo tajemství
      kontinuity Církve, shromážděné v jednotě kolem Petrova nástupce.
      Kontinuitu můžeme sledovat i v myšlenkách obou papežů, které nás budou
      skrze tuto brožuru provázet po celou letošní postní dobu. Texty jsou
      zaměřeny především na radost a naději. Naděje byla ústředním tématem
      papeže Františka, učinil ji motem jubilejního svatého roku 2025. Jeho
      nástupce Lev tuto božskou ctnost zdůrazňuje stejně silně. Oba nás zvou,
      abychom se stávali „poutníky naděje“, putovali životem s dětskou radostí z
      věčného života, který nám Pán vydobyl svým zmrtvýchvstáním. Bůh Petra a
      jeho nástupce povolává, aby nám ukazovali směr. Začtěme se tedy do slov
      266. a 267. papeže a prožijeme spolu s nimi v postní době jednotu Církve,
      která v semknutém společenství následuje zmrtvýchvstalého Krista. Ze srdce
      Vám žehnám, abyste letošní postní dobu prožili soustředěně a aby pro Vás
      byla povzbuzením právě v radosti a naději!
    </p>

    <p class="text-lg mb-4 font-serif tracking-wider leading-9">
      V Kristu a Marii
    </p>
    <p class="text-xl mb-8 italic font-serif tracking-wider leading-9">
      Váš biskup + Jan
    </p>
  </article>
</Layout>
