---
import ArticleHeader from "../components/ArticleHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Slova biskupa Jana - Cesta půstem">
  <ArticleHeader />
  <article class="mx-6 max-w-[800px]">
    <h1 class="text-4xl font-bold mb-8">Slova biskupa Jana</h1>
    <p class="font-semibold text-lg mb-1">
      Bratři a sestry v Kristu, milí čtenáři,
    </p>
    <p class="text-lg mb-4">
      Svatý rok 2025 je časem mimořádných Božích milostí. Předpokladem k jejich
      přijetí je naše obrácení – pokání a změna smýšlení, k čemuž nás zvlášť
      silně podněcuje právě postní doba. Je to období liturgického roku, které
      máme tradičně spojeno s tichem, půstem a odříkáním, ale jeho smyslem a
      cílem není prožívat újmu. Naopak. Postní doba nás vede k tomu, abychom pod
      obvyklým nánosem všedních věcí zahlédli zrnko naděje.
    </p>
    <p class="text-lg mb-4">
      Papež František při vyhlášení Svatého roku v bule Spes non confundit
      (Naděje nezklame) zdůrazňuje, že naděje jako touha po věčném dobru je
      zakořeněna v srdci každého člověka. Ne vždy si jí však všímáme, často nám
      ji zakrývá každodenní shon, netrpělivost, nervozita. Svatý otec nás proto
      nabádá, abychom se v tomto roce cvičili zvláště v trpělivosti, již dnešní
      lidé tak často ztrácejí. Všem Vám proto na prahu postní doby přeji a
      žehnám, aby Vaše trpělivost rostla a spolu s ní aby sílila také Vaše
      naděje. Kéž nám k tomu dopomohou texty z této brožury, za které ze srdce
      děkuji jejich autorům i všem, kdo se na její přípravě organizačně podíleli
      v čele s naším novým pomocným biskupem Prokopem.
    </p>
    <p class="text-lg mb-4">
      Papež František nás zve, abychom se v letošním roce stávali poutníky
      naděje. Vydejme se proto společně na cestu!
    </p>

    <p class="text-lg mb-4">V Kristu a Marii</p>
    <p class="text-xl mb-8 italic">Váš biskup + Jan</p>
  </article>
</Layout>
