---
import { getCollection } from "astro:content";

const days = await getCollection("den");

// Group days by month
const months = days.reduce((acc, day) => {
  const date = new Date(day.data.date);
  const monthKey = date.toLocaleString("cs-CZ", {
    month: "long",
    // year: "numeric",
  });
  if (!acc[monthKey]) acc[monthKey] = [];
  acc[monthKey].push(day);
  return acc;
}, {});
---

<div class="mx-6 my-6">
  <h2 class="text-2xl font-bold uppercase mb-1">Kalendář</h2>

  {
    Object.keys(months).map((month) => (
      <div class="mb-4">
        <h3 class="text-xl font-bold capitalize">{month}</h3>
        <div class="grid grid-cols-5 auto-cols-max gap-y-2">
          {months[month].map(
            (day: { data: { date: string | number | Date } }) => {
              const date = new Date(day.data.date);
              return (
                <a
                  class="text-lg hover:bg-stone-300 uppercase py-2 px-4 rounded font-semibold text-center duration-200 hover:text-primary-light"
                  href={`den/${day.data.date}`}
                >
                  {date.getDate()}.
                </a>
              );
            },
          )}
        </div>
      </div>
    ))
  }
</div>
