<footer
  class="py-6 border-t-violet-light border-t mx-4 flex flex-row justify-between"
>
  <a href={"/"}>
    <img
      src="/icon.svg"
      class="w-8 inline"
      alt="Fialový rozcestník"
      title="Ikona aplikace"
      loading="lazy"
      decoding="async"
    />{" "}
    <span class="font-semibold text-violet-light">Adventní cesta</span>
  </a>
  <div>
    <span>
      <a
        href="mailto:info@adventnicesta.cz"
        target="_blank"
        rel="noreferrer noopener"
        class="mr-2"
      >
        <img
          src="/icons/alert.svg"
          class="inline w-6 dark:text-white"
          alt="Ikona upozornění"
          title="Nahlásti chybu"
          loading="lazy"
          decoding="async"
        />
      </a>
    </span>
    <span>
      <a
        href="mailto:info@adventnicesta.cz"
        target="_blank"
        rel="noreferrer noopener"
        class="mr-2"
      >
        <img
          src="/icons/mail.svg"
          class="inline w-6 dark:text-white"
          alt="Ikona mailu"
          title="Odeslat mail"
          loading="lazy"
          decoding="async"
        />
      </a>
    </span>
    <span>
      <a
        href="https://github.com/petrkucerak/adventnicesta"
        target="_blank"
        rel="noreferrer noopener"
        class="mr-2"
      >
        <img
          src="/icons/github.svg"
          class="inline w-6 dark:text-white"
          alt="Ikona GitHubu"
          title="Repozitář projektu"
          loading="lazy"
          decoding="async"
        />
      </a>
    </span>
  </div>
</footer>
<!-- Disable SW -->
<!-- <script src="/scripts/register-sw.js" defer></script> -->
