@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: #fff;
  }
}
